<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mapper.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="LabelCloudModel" type="hr.wozai.service.nlp.server.model.labelcloud.LabelCloudModel" />
        <typeAlias alias="SurveyResponseModel" type="hr.wozai.service.nlp.server.model.labelcloud.SurveyResponseModel" />
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="com.alibaba.fastjson.JSONObject"
                     handler="hr.wozai.service.servicecommons.utils.persistence.FastJSONHandler" />
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/LabelCloudMapper.xml" />
    </mappers>

</configuration>
