<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hr.wozai.service.user.server.dao.userorg.AddressRegionMapper">

    <select id="listAddressRegionByParentId"
            parameterType="long"
            resultType="AddressRegion">
        SELECT
            *
        FROM
            address_region
        WHERE
            parent_id = #{parentId}
    </select>

</mapper>
