<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hr.wozai.service.user.server.dao.userorg.ProfileTemplateMapper">

    <insert id="insertProfileTemplate"
            parameterType="ProfileTemplate">
        INSERT INTO profile_template
            (org_id,
            display_name,
            is_preset,
            created_user_id,
            created_time,
            last_modified_user_id,
            last_modified_time,
            is_deleted)
        VALUES
            (#{orgId},
            #{displayName},
            #{isPreset},
            #{createdUserId},
            ROUND(UNIX_TIMESTAMP(CURTIME(4)) * 1000),
            #{createdUserId},
            ROUND(UNIX_TIMESTAMP(CURTIME(4)) * 1000),
            0)
        <selectKey keyProperty="profileTemplateId" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findProfileTemplateByPrimaryKey"
            parameterType="map"
            resultType="ProfileTemplate">
        SELECT
            *
        FROM
            profile_template
        WHERE
            profile_template_id = #{profileTemplateId}
            AND org_id = #{orgId}
            AND is_deleted = 0
    </select>

    <select id="listProfileTemplateByOrgId"
            parameterType="long"
            resultType="ProfileTemplate">
        SELECT
            *
        FROM
            profile_template
        WHERE
            org_id = #{orgId}
            AND is_deleted = 0
    </select>

    <update id="updateProfileTemplateByPrimaryKeySelective"
            parameterType="ProfileTemplate">
        UPDATE profile_template
        <set>
            <if test="null != displayName">
                display_name = #{displayName},
            </if>
            <if test="null != isDeleted">
                is_deleted = #{isDeleted},
            </if>
            last_modified_user_id = #{lastModifiedUserId},
            last_modified_time = ROUND(UNIX_TIMESTAMP(CURTIME(4)) * 1000)
        </set>
        WHERE
            profile_template_id = #{profileTemplateId}
            AND org_id = #{orgId}
    </update>

</mapper>